body {
	font-family: Roboto;
	background: #f12711;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#container {
	width:400px;
	margin: 100px auto;
	background:#fff;
	box-shadow: 0 0 3px rgba(0,0,0,0.1);
}

h1 {
	margin: 0;
	padding: 10px 20px;
	background:#0b6623;
	color:#ffffff;
	text-transform: uppercase;
	font-weight: 500px;
	font-size: 24px;
}

.fa-plus {
	float: right; 
}

input {
	background-color: #f7f7f7;
	color: #0b6623;
	width:100%;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	font-size: 18px;
	border:none;
}

input:focus {
	background-color:#fff;
	border:3px solid #0b6623;
	outline:none;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
	margin-top:2px;
}

li {
	background: #0b6623;
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	color:#ffffff;
}

li span {
	color:#fff;
	background: #e74c3c;
	height: 40px;
	margin-right: 20px;
	text-align: center;
	width: 0;
	display:inline-block;
	margin-bottom: 5px;
	transition: 0.2s linear;
	opacity:0;
}

li:hover span {
	width: 40px;
	opacity: 1.0;
}

li:nth-child(2n) {
	background: #f5af19;
	color:#0b6623;

}

.checkbox {
	float: right;
}

.completed {
	color:grey;
	text-decoration: line-through;
}